python-dotenv
scrapy
psycopg2-binary
click
# pandas + beautifulsoup + html5lib used for reading tabular data
pandas
beautifulsoup4
html5lib
# requests is required to send pidar notification
requests
pyyaml

# extras
boto3
paho-mqtt
redis
